[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dplyneage"]
	path = dplyneage
	url = https://github.com/tgerke/dplyneage
[submodule "ducklake"]
	path = ducklake
	url = https://github.com/tgerke/ducklake-r
